<br>
<div class="form-group">
    <label for="pwd">{{'t14' | translate}}</label>  
    <input type="text" class="form-control" [(ngModel)]="billname" name="billname">
</div>
<button class="btn btn-primary" type="button" (click)="Include()">
    <span class="glyphicon glyphicon-floppy-disk"></span> {{'t3' | translate}}
</button>       
<br><br>
<ul class="items">
    <li *ngFor="let b of bills | async">
        {{ b.billname }}
        <span class="badge" (click)="onSelect(b.id, b.items)">X</span>    
    </li>
</ul>  
<br>   
<div *ngIf="erro" class="alert alert-danger">
        {{erro}}
</div>  