<br>
<div class="form-group">
    <label for="pwd">{{'t5' | translate}}</label>  
    <input type="text" class="form-control" [(ngModel)]="listname" name="listname">
</div>
<button class="btn btn-primary" type="button" (click)="Include()">
    <span class="glyphicon glyphicon-floppy-disk"></span> {{'t3' | translate}}
</button>       
<br><br>
<ul class="items">
    <li *ngFor="let l of lists | async">
        {{ l.listname }}
        <span class="badge" (click)="onSelect(l.id, l.items)">X</span>    
    </li>
</ul>  
<br>   
<div *ngIf="erro" class="alert alert-danger">
        {{erro}}
</div>      