.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.people {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0px;
  width: 200px;
}
.people li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 10px 0px 6px 10px;
  border-radius: 4px;
}
.people li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.people li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.people .text {
  position: relative;
  top: -3px;
}
.people .badge {
  color: white;
  background-color: #115288;
  position: relative;
  margin-left: .8em;
  border-radius: 0 4px 4px 0;
  float: right;
  padding: 12px 16px;
  top: -10px;
}