<br>
<span class="dropdown">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{title}} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li *ngFor="let b of bills | async" (click)="onSelectBill(b)">
            <a>{{b.billname}}</a>
        </li>
    </ul>
</span>  
<br><br>
<div *ngIf="len > 0">
    <div class="form-group">
        <label for="payer">{{'t16' | translate}}</label>  
        <select id="payer" [disabled]="!selected_bill" (click)="onSelectMember()" class="form-control" [(ngModel)]="payer" name="payer">
            <option value="">{{'t33' | translate}}</option>
            <option *ngFor="let m of members" value={{m.emailf}}><a>{{m.emailf}}</a></option>            
        </select>          
    </div>    
    <div class="form-group">
        <label for="date">{{'t17' | translate}}</label>  
        <input id="date" type="datetime-local" [disabled]="!selected_bill" class="form-control" [ngModel]="dateForm | date:'yyyy-MM-ddTHH:mm'" name="date" (ngModelChange)="dateForm = dateChanged($event)">
    </div>
    <div class="form-group">
        <label for="place">{{'t25' | translate}}</label>  
        <input id="place" type="text" [disabled]="!selected_bill" class="form-control" [(ngModel)]="place" name="place">        
    </div>
    <div class="form-group">
        <label for="description">{{'t11' | translate}}</label>  
        <input id="description" type="text" [disabled]="!selected_bill" class="form-control" [(ngModel)]="description" name="description">        
    </div>
    <div class="form-group">
        <label for="type">{{'t26' | translate}}</label>  
        <select id="type" [disabled]="!selected_bill" class="form-control" [(ngModel)]="type" name="type">
            <option value="">{{'t33' | translate}}</option>
            <option value='t27'>{{'t27' | translate}}</option>
            <option value='t28'>{{'t28' | translate}}</option>
            <option value='t29'>{{'t29' | translate}}</option>
            <option value='t30'>{{'t30' | translate}}</option>
            <option value='t31'>{{'t31' | translate}}</option>
            <option value='t45'>{{'t45' | translate}}</option>
            <option value='t32'>{{'t32' | translate}}</option>
        </select>          
    </div>
    <div class="row">
        <div class="col-xs-4">    
            <div class="form-group">
                <label for="value">{{'t18' | translate}}</label>
                <input id="value" type="text" [disabled]="!selected_bill" class="form-control" [(ngModel)]="value" (ngModelChange)="onChange()" name="value" placeholder="0,00">
            </div>
        </div>
        <div class="col-xs-4">        
            <div class="form-group">
                <label for="multiplier">{{'t35' | translate}}</label>
                <input id="multiplier" type="text" [disabled]="!selected_bill" class="form-control" [(ngModel)]="multiplier" (ngModelChange)="onChange()" name="multiplier" placeholder="0,00">
            </div>
        </div>
        <div class="col-xs-4">        
            <div class="form-group">
                <label for="calculated">{{'t36' | translate}}</label>
                <input id="calculated" type="text" disabled="disabled" class="form-control" [(ngModel)]="calculated" name="calculated" placeholder="0,00">
            </div>
        </div>        
    </div>
    <div class="form-group">
        <label for="sel1">{{'t19' | translate}}</label>
        <select id="sel1" [disabled]="!selected_bill" [(ngModel)]="benefited" multiple size="5" class="form-control members" id="sel1">
            <option *ngFor="let m of members" [value]="m.email">
                {{m.email}}
            </option>      
        </select>
    </div>
    <div *ngIf="erro" class="alert alert-danger">
            {{erro}}
        </div>    
    <button [disabled]="!selected_bill" (click)="Include()" class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-floppy-disk"></span> {{ (editmode ? 't39' : 't3') | translate}}
    </button> 
    <br><br>
</div>    
<div *ngIf="len == 0" class="alert alert-danger">
    {{'m10' | translate}}
</div>  