<br>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{'t14' | translate}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li *ngFor="let b of bills | async" (click)="onSelectBill(b)">
            {{b.billname}}
        </li>
    </ul>
</div> 
<button [disabled]="!billname" (click)="backup()" class="btn btn-primary" type="button">
    <span class="glyphicon glyphicon-floppy-disk"></span> Backup
</button>   
<div class="form-group">
    <label for="pwd">{{'t14' | translate}}</label>  
    <input type="text" [disabled]="true" class="form-control" [(ngModel)]="billname" name="billname">        
</div>
<div *ngIf="erro" class="alert alert-danger">
    {{erro}}
</div>
<table class="table">
    <thead>
        <tr>
        <th>{{'t22' | translate}}</th>
        <th class="right">{{'t23' | translate}}</th>
        </tr>
    </thead>
    <tbody>     
        <tr *ngFor="let m of members | async" class="{{m.value >= 0 ? 'success' : 'danger'}}">
            <td>{{m.email}}</td>
            <td class="right">R$ {{m.value | number:'1.2-2'}}</td>
        </tr>
    </tbody>
</table>
<div class="alert alert-warning">
    <strong>{{'t24' | translate}}:</strong> {{'m6' | translate}}
</div>
<ul class="items">
    <li *ngFor="let i of items | async" data-toggle="collapse" attr.data-target="#{{i.itemkey}}">
        {{(i.date | date:'dd/MM/yyyy') + ' - ' + i.description}}
        <span class="badge" (click)="onRemove(i)">X</span>    
        <div id="{{i.itemkey}}" class="collapse">
            {{'t16' | translate}}: {{i.payer}}<br>
            {{'t25' | translate}}: {{i.place}}<br>
            {{'t26' | translate}}: {{i.type}}<br>
            {{'t18' | translate}}: R$ {{i.value | number:'1.2-2' }}<br>
            {{'t19' | translate}}:<br>
            <span *ngFor="let b of i.benefited">
                {{b}}<br>
            </span>        
        </div>        
    </li>    
</ul>    