  .dropdown {
      display: inline-block;
      margin-bottom: 15px;
  }

  .dropdown-menu {
      background-color: #337ab7;
  }

  .dropdown-menu li {
      cursor: pointer;
      background-color: #337ab7;
      border-color: #2e6da4;
      color: white;
      padding: 10px;
  }

  .dropdown-menu li:hover {
      background-color: #607D8B;
      left: .1em;
  }

  .items {
    list-style-type: none;
    padding: 0px;
  }
 
  .items li {
    position: relative;
    left: 0;
    border-radius: 4px;
    background-color: #AABADB;
    margin: 5px 0px;    
    padding: 8px 0px 8px 10px; 
  }  

  .items li[aria-expanded="false"] {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .items li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }

  .items li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  
  .items .text {
    position: relative;
    top: -3px;
  }
  
  .alert {
    margin-top: 20px;
  }

  .right {
    text-align: right;
  }