{{'t42' | translate}}
<br><br>
<ul class="list-group">
    <li class="list-group-item language pointer" *ngFor="let l of languages" (click)="language(l.name)">
        {{l.description}}<img class="flag" src="assets/images/{{l.flag}}"> 
    </li>
</ul>
<div style="margin-bottom: 15px;">
    <a href="javascript:void(0)" (click)="RemoveAccount()">
        {{'e22' | translate}}
    </a>
</div>
<div *ngIf="this.appService.erro" class="alert alert-danger" style="margin-bottom: 15px;">
    {{this.appService.erro}}
</div> 
{{'t44' | translate}}: {{version}}