<br>
<div class="form-group">
    <label for="billname">{{'t15' | translate}}</label>  
    <input id="billname" type="text" class="form-control" [(ngModel)]="billname" name="billname" maxlength="50">
</div>
<button class="btn btn-primary" type="button" (click)="Include()">
    <span class="glyphicon glyphicon-floppy-disk"></span> {{'t3' | translate}}
</button>
<label *ngIf="(!this.appService.isCordova)" class="input-group-btn">
    <span class="btn btn-primary">
        <span class="glyphicon glyphicon-floppy-open"></span> 
        {{'t40' | translate}} <input type="file" #file (change)="fileChange($event); file.value = '';" style="display: none;" placeholder="" accept=".txt">
    </span>
</label>
<br><br>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let b of bills | async">
        {{ b.billname }}
        <span class="glyphicon glyphicon-trash pull-right" (click)="onSelect(b.id, b.access)"></span>    
    </li>
</ul>  
<br>
<div *ngIf="erro" class="alert alert-danger">
        {{erro}}
</div>  