<br>
<span class="dropdown">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{title}} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li *ngFor="let b of bills | async" (click)="onSelectBill(b)">
            <a>{{b.billname}}</a>
        </li>
    </ul>
</span>    
<br><br>
<div *ngIf="len > 0">
    <div class="form-group">
        <label for="pwd">E-mail</label>  
        <input type="text" [disabled]="!selected" class="form-control email" [(ngModel)]="email" name="email" maxlength="50">        
    </div>
    <button [disabled]="!selected" class="btn btn-primary" type="button" (click)="Include()">
        <span class="glyphicon glyphicon-floppy-disk"></span> {{'t3' | translate}}
    </button>       
    <br><br>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let m of members">
            {{ m.emailf }}
            <span class="glyphicon glyphicon-trash pull-right" (click)="onRemove(m)"></span>    
        </li>
    </ul>
</div>    
<div *ngIf="erro && len > 0" class="alert alert-danger">
        {{erro}}
    </div> 
<div *ngIf="len == 0" class="alert alert-danger">
    {{'m10' | translate}}
</div>     
 