<br>
<form #f="ngForm" (submit)="form_submit(f)">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{t5}}
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li *ngFor="let a of access" (click)="onSelectList(a.listkey, a.listname)">
                {{a.listname}}
            </li>
        </ul>
    </div>    
    <br><br>   
    <div class="form-group">
        <label for="pwd">{{t5}}</label>  
        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="listname" name="listname">        
    </div>
    <div class="form-group">
        <label for="pwd">E-mail</label>  
        <input type="text" [disabled]="!selected" class="form-control" ngModel name="email">        
    </div>
    <button [disabled]="!selected" class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-floppy-disk"></span> {{t3}}
    </button>       
    <br><br>
    <div *ngIf="erro" class="alert alert-danger">
        {{erro}}
    </div> 
    <ul class="items">
        <li *ngFor="let l of members">
            {{ l.email }}
            <span class="badge" (click)="onRemove(l.$key, l.email)">X</span>    
        </li>
    </ul>        
</form>    