<br>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{t5}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li *ngFor="let l of lists | async" (click)="onSelect(l.$key, l.listname)">
            {{l.listname}}
        </li>
    </ul>
</div>    
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">E-mail
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li *ngFor="let l of lists | async" (click)="onSelect(l.$key, l.listname)">
            {{l.listname}}
        </li>
    </ul>
</div> 
<br><br>   
<div class="form-group">
    <label for="pwd">{{t5}}</label>  
    <input type="text" [disabled]="true" class="form-control" [(ngModel)]="listname" name="listname">        
</div>
<div class="form-group">
    <label for="pwd">E-mail</label>  
    <input type="text" [disabled]="true" class="form-control" [(ngModel)]="email" name="email">        
</div>