.jumbotron {
    position: relative;
}

.icone {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 17px;        
}

.home {
    position: absolute;
    left: 20px;
    bottom: 20px;
    top: auto;
    font-size: 17px;
}

.title {
    position: relative;
    width: 90px;
    font-size: 15px;
    margin: 0px auto;
}

.logo {
    width: 50px;
    border: 0px;
    vertical-align: bottom;
}

.swipe {
    height: 100vh;
}