<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <div *ngIf="(this.appService.isSignin | async)">
        <span class="glyphicon glyphicon-off" style="float: right; cursor: pointer;" (click)="logout()"></span>
    </div>
</div>
<div *ngIf="(this.appService.isSignin | async)">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active"><a routerLink="/list">{{t5}}</a></li>
        <li routerLinkActive="active"><a routerLink="/form">{{t4}}</a></li>
    </ul>
</div>
<router-outlet></router-outlet>