<div class="swipe" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">        
    <div class="jumbotron text-center">    
        <span *ngIf="(this.appService.isSignin)" class="icone glyphicon glyphicon-off pointer" [ngStyle]="{'color': (this.appService.isConnected | async) ? 'green' : 'red' }" (click)="logout()"></span>
        <span *ngIf="(router.url != '/menu' && this.appService.isSignin)" class="home glyphicon glyphicon-home pointer" (click)="menu()"></span>
        <div class="title"><img class="logo" src="assets/images/logo.png" title="logo"><br>{{title}}</div>        
    </div>         
    <div *ngIf="(this.appService.lists.indexOf(this.router.url.split('/')[1]) >= 0)">
        <ul class="nav nav-tabs">
            <li routerLinkActive="active"><a routerLink="/list-detail">{{'t12' | translate}}</a></li>
            <li routerLinkActive="active"><a routerLink="/list-item">{{'t11' | translate}}</a></li>
            <li routerLinkActive="active"><a routerLink="/list-form">{{'t5' | translate}}</a></li>
            <li routerLinkActive="active"><a routerLink="/list-access">{{'t13' | translate}}</a></li>
        </ul>
    </div>
    <div *ngIf="(this.appService.bills.indexOf(this.router.url.split('/')[1]) >= 0)">
            <ul class="nav nav-tabs">
                <li routerLinkActive="active"><a routerLink="/bill-detail">{{'t12' | translate}}</a></li>
                <li routerLinkActive="active"><a routerLink="/bill-item">{{'t11' | translate}}</a></li>
                <li routerLinkActive="active"><a routerLink="/bill-form">{{'t14' | translate}}</a></li>
                <li routerLinkActive="active"><a routerLink="/bill-access">{{'t13' | translate}}</a></li>
            </ul>
    </div>
    <router-outlet></router-outlet>
</div>