.icone {
    margin: 10px;
    float: right;
    cursor: pointer;
}

.home {
    float: left;
    cursor: pointer;
}

.title {
    position: relative;
    width: 90px;
    font-size: 15px;
    margin: 0px auto;
}

.logo {
    width: 50px;
    border: 0px;
    vertical-align: bottom;
}