<div class="icone" *ngIf="(this.appService.isSignin | async)">
    <span class="glyphicon glyphicon-off" [ngStyle]="{'color': (this.appService.isConnected | async) ? 'green' : 'red' }" (click)="logout()"></span>
</div>
<img class="flag" src="/assets/images/flagBR.png" (click)="language(1)">
<img class="flag" src="/assets/images/flagUS.png" (click)="language(2)">
<div class="jumbotron text-center">    
    <h1>{{title}}</h1>    
    <div class="version">{{version}}</div>        
    <img *ngIf="this.router.url != '/menu'" class="home" src="/assets/images/home.png" (click)="menu()">    
</div>
<div *ngIf="(this.appService.lists.indexOf(this.router.url) >= 0 && this.appService.isSignin | async)">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active"><a routerLink="/list-detail">{{'t12' | translate}}</a></li>
        <li routerLinkActive="active"><a routerLink="/item-form">{{'t11' | translate}}</a></li>
        <li routerLinkActive="active"><a routerLink="/list-form">{{'t5' | translate}}</a></li>
        <li routerLinkActive="active"><a routerLink="/list-access">{{'t13' | translate}}</a></li>
    </ul>
</div>
<div *ngIf="(this.appService.bills.indexOf(this.router.url) >= 0 && this.appService.isSignin | async)">
        <ul class="nav nav-tabs">
            <li routerLinkActive="active"><a routerLink="/bill-item">{{'t11' | translate}}</a></li>
            <li routerLinkActive="active"><a routerLink="/bill-form">{{'t15' | translate}}</a></li>
            <li routerLinkActive="active"><a routerLink="/bill-access">{{'t13' | translate}}</a></li>
        </ul>
    </div>
<router-outlet></router-outlet>