.collapse, .collapsing {
  margin-top: 10px;
}

.btn {
  margin-right: 4px;
}

.members thead th {
  border: 0px;
}

.members tbody tr:not(:last-child) {
  border-bottom: solid 1px #ddd;
}

.members tbody tr:first-child td:first-child {
  border: 0px;
  border-radius: 4px 0px 0px 0px;
}

.members tbody tr:first-child td:last-child {
  border: 0px;
  border-radius: 0px 4px 0px 0px;
}

.members tbody tr:last-child td:last-child {
  border: 0px;
  border-radius: 0px 0px 4px 0px;
}

.members tbody tr:last-child td:first-child {
  border: 0px;
  border-radius: 0px 0px 0px 4px;
}

.resumo {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #dddddd;
  padding: 15px;
}

.resumo tr {
  border: 0px;
}

.resumo tbody tr:first-child {
  border: 0px;
}

.resumo tbody tr:last-child {
  border-top: solid 1px #ddd;
}

.resumo table {
  margin: 0px;
}

.danger td {
  background-color: #ff8181;  
}

.success td {
  background-color: #acf39b;  
}

.resumo td {
  border: 0px;
}

.info td {
  background-color: #a3e4fd;  
}