.collapse, .collapsing {
  margin-top: 10px;
}

.btn {
  margin-right: 4px;
}

.table thead th {
  border: 0px;
}

.members tbody tr {
  border-bottom: solid 1px #ddd;
}

.table tbody tr:first-child td:first-child {
  border: 0px;
  border-radius: 4px 0px 0px 0px;
}

.table tbody tr:first-child td:last-child {
  border: 0px;
  border-radius: 0px 4px 0px 0px;
}

.table tbody tr:last-child td:last-child {
  border: 0px;
  border-radius: 0px 0px 4px 0px;
}

.table tbody tr:last-child td:first-child {
  border: 0px;
  border-radius: 0px 0px 0px 4px;
}

.danger td {
  background-color: #ff8181;  
}

.success td {
  background-color: #acf39b;  
}

.resumo td {
  /*background-color: #f1f1f1;*/
  border: 0px;
}

.info td {
  background-color: #a3e4fd;  
}