<br>
<span class="dropdown">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{'t5' | translate}} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li *ngFor="let l of lists | async" (click)="onSelect(l)">
            {{l.listname}}
        </li>
    </ul>
</span>  
<br><br>  
<div class="form-group">
    <label for="pwd">{{'t5' | translate}}</label>  
    <input type="text" [disabled]="true" class="form-control" [(ngModel)]="listname" name="listname">        
</div>
<div class="form-group">
    <label for="pwd">{{'t1' | translate}}</label>  
    <input type="text" [disabled]="!selected" class="form-control" [(ngModel)]="itemname" name="itemname">
</div>
<div class="form-group">
    <label for="pwd">{{'t2' | translate}}</label>    
    <input type="text" [disabled]="!selected" class="form-control" [(ngModel)]="amount" name="amount">
</div>
<button [disabled]="!selected" (click)="Include()" class="btn btn-primary" type="button">
    <span class="glyphicon glyphicon-floppy-disk"></span> {{'t3' | translate}}
</button>       
<br><br>
<div *ngIf="erro" class="alert alert-danger">
    {{erro}}
</div>