<br>
<div class="panel panel-primary" *ngFor="let l of lists | async">
    <div class="panel-heading text-center">{{l.listname}}</div>
    <div class="panel-body">
        <ul class="list-group">
            <div *ngIf="l.items.length == 0">
                {{'m5' | translate}}
            </div>            
            <li class="list-group-item" *ngFor="let i of l.items">
                <span class="glyphicon glyphicon-trash pull-right" (click)="onSelect(l,i.itemkey)"></span>                
                {{ i.itemname + ' - ' + i.amount }}               
            </li>
          </ul>
    </div>
</div>
<div *ngIf="len == 0" class="alert alert-danger">
    {{'m4' | translate}}
</div>
