<div class="form-group">
  <label for="email">Email:</label>
  <input type="text" class="form-control email" required [(ngModel)]="email" name="email" placeholder="Email" (keypress)="this.erro='';">
</div>
<div class="form-group">
  <label for="password">{{'t6'|translate}}:</label>
  <input type="password" class="form-control email" required [(ngModel)]="password" name="password" placeholder="{{'t6'|translate}}" (keypress)="this.erro=''; $event.keyCode == 13 ? login() : null">
</div>  
<button class="btn btn-primary" (click)="login()" type="button">{{isLoggingIn ? ('t7'|translate) : ('t8'|translate)}}</button>
<button class="btn btn-primary" (click)="toggleDisplay()" type="button">{{isLoggingIn ? ('t8'|translate) : ('t9'|translate)}}</button>
<br><br>
<a href="javascript:void(0);" (click)="forgot()">{{'m2' | translate}}</a>
<br><br>
<div *ngIf="erro" class="alert alert-danger">
    {{erro}}
</div>
<span>{{'t41' | translate}}</span><br><br>
<img class="logo" src="assets/images/facebook.png" (click)="loginWithFacebook()" title="Facebook">
<img class="logo" src="assets/images/github.png" (click)="loginWithGithub()" title="Github">
<img class="logo" src="assets/images/google.png" (click)="loginWithGoogle()" title="Google">
<!--<img class="logo" src="assets/images/yahoo.png" (click)="loginWithYahoo()" title="Yahoo">-->
<img class="logo" src="assets/images/microsoft.png" (click)="loginWithMicrosoft()" title="Microsoft">
<img class="logo" src="assets/images/twitter.png" (click)="loginWithTwitter()" title="Twitter">