<div class="form-group">
  <label for="email">Email:</label>
  <input type="text" class="form-control email" required [(ngModel)]="email" name="email" placeholder="Email">
</div>
<div class="form-group">
  <label for="password">{{'t6'|translate}}:</label>
  <input type="password" class="form-control email" required [(ngModel)]="password" name="password" placeholder="{{'t6'|translate}}">
</div>  
<button class="btn btn-primary" (click)="login()" type="button">{{isLoggingIn ? ('t7'|translate) : ('t8'|translate)}}</button>
<button class="btn btn-primary" (click)="toggleDisplay()" type="button">{{isLoggingIn ? ('t8'|translate) : ('t9'|translate)}}</button>
<br><br>
<a href="javascript:void(0);" (click)="forgot()">{{'m2' | translate}}</a>
<br><br>
<div *ngIf="erro" class="alert alert-danger">
    {{erro}}
</div>
<span>{{'t41' | translate}}</span><br><br>
<img class="logo" src="/assets/images/facebook.png" (click)="loginWithFacebook()">
<img class="logo" src="/assets/images/google.png" (click)="loginWithGoogle()">
<img class="logo" src="/assets/images/github.png" (click)="loginWithGithub()">