<br>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{'t14' | translate}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li *ngFor="let b of bills | async" (click)="onSelectList(b)">
            {{b.billname}}
        </li>
    </ul>
</div>  
<div class="dropdown">
    <button [disabled]="!selected_bill" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pagante
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li *ngFor="let m of members" (click)="onSelectMember(m)">
            {{m.email}}
        </li>
    </ul>
</div>  
<div class="form-group">
        <label for="date">Data</label>  
        <input type="date" [disabled]="!selected_member" class="form-control" [(ngModel)]="date" name="date">
    </div>
<div class="form-group">
    <label for="description">Item</label>  
    <input type="text" [disabled]="!selected_member" class="form-control" [(ngModel)]="description" name="description">        
</div>
<div class="form-group">
    <label for="value">Valor</label>
    <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input type="text" [disabled]="!selected_member" class="form-control" [(ngModel)]="value" name="value" placeholder="0,00">
    </div>    
</div>
<button [disabled]="!selected_member" (click)="Include()" class="btn btn-primary" type="button">
    <span class="glyphicon glyphicon-floppy-disk"></span> {{'t3' | translate}}
</button>       
<br><br>
<div *ngIf="erro" class="alert alert-danger">
    {{erro}}
</div>