<br>
<span class="dropdown">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{'t14' | translate}} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li *ngFor="let b of bills | async" (click)="onSelectBill(b)">
            <a>{{b.billname}}</a>
        </li>
    </ul>
</span> 
<span class="dropdown">
    <button [disabled]="!selected_bill" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{'t16' | translate}} <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li *ngFor="let m of members" (click)="onSelectMember(m)">
            <a>{{m.email}}</a>
        </li>
    </ul>
</span>    
<br><br> 
<div class="form-group">
    <label for="pwd">{{'t14' | translate}}</label>  
    <input type="text" [disabled]="true" class="form-control" [(ngModel)]="billname" name="billname">        
</div>
<div class="form-group">
    <label for="pwd">{{'t16' | translate}}</label>  
    <input type="text" [disabled]="true" class="form-control" [(ngModel)]="payer" name="payer">        
</div>
<div class="form-group">
    <label for="date">{{'t17' | translate}}</label>  
    <input type="date" [disabled]="!selected_member" class="form-control" [(ngModel)]="date" name="date">
</div>
<div class="form-group">
    <label for="description">{{'t25' | translate}}</label>  
    <input type="text" [disabled]="!selected_member" class="form-control" [(ngModel)]="place" name="place">        
</div>
<div class="form-group">
    <label for="description">{{'t11' | translate}}</label>  
    <input type="text" [disabled]="!selected_member" class="form-control" [(ngModel)]="description" name="description">        
</div>
<div class="form-group">
    <label for="type">{{'t26' | translate}}</label>  
    <select [disabled]="!selected_member" class="form-control" [(ngModel)]="type" name="type">
        <option value="">{{'t33' | translate}}</option>
        <option>{{'t27' | translate}}</option>
        <option>{{'t28' | translate}}</option>
        <option>{{'t29' | translate}}</option>
        <option>{{'t30' | translate}}</option>
        <option>{{'t31' | translate}}</option>
        <option>{{'t32' | translate}}</option>
      </select>          
</div>
<div class="form-group">
    <label for="value">{{'t18' | translate}}</label>
    <div class="input-group">
        <input type="text" [disabled]="!selected_member" class="form-control" [(ngModel)]="value" (ngModelChange)="onChange()" name="value" placeholder="0,00">
    </div>    
</div>
<div class="form-group">
    <label for="value">{{'t35' | translate}}</label>
    <div class="input-group">
        <input type="text" [disabled]="!selected_member" class="form-control" [(ngModel)]="multiplier" (ngModelChange)="onChange()" name="multiplier" placeholder="0,00">
    </div>    
</div>
<div class="form-group">
    <label for="value">{{'t36' | translate}}</label>
    <div class="input-group">
        <input type="text" disabled="disabled" class="form-control" [(ngModel)]="calculated" name="calculated" placeholder="0,00">
    </div>    
</div>
<div class="form-group">
    <label for="sel1">{{'t19' | translate}}</label>
    <select [disabled]="!selected_member" [(ngModel)]="benefited" multiple class="form-control" id="sel1">
        <option *ngFor="let m of members" [value]="m.email">
            {{m.email}}
        </option>      
    </select>
</div>
<button [disabled]="!selected_member" (click)="Include()" class="btn btn-primary" type="button">
    <span class="glyphicon glyphicon-floppy-disk"></span> {{ (editmode ? 't39' : 't3') | translate}}
</button> 
<br><br>
<div *ngIf="erro" class="alert alert-danger">
    {{erro}}
</div>