<br>
<div class="form-group">
    <label for="pwd">{{'t5' | translate}}</label>  
    <input type="text" class="form-control" [(ngModel)]="listname" name="listname">
</div>
<button class="btn btn-primary" type="button" (click)="Include()">
    <span class="glyphicon glyphicon-floppy-disk"></span> {{'t3' | translate}}
</button>
<label class="input-group-btn">
    <span class="btn btn-primary">
        <span class="glyphicon glyphicon-floppy-open"></span> 
        {{'t40' | translate}} <input type="file" #file (change)="fileChange($event); file.value = '';" style="display: none;" placeholder="" accept=".txt">
    </span>
</label>       
<br><br>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let l of lists | async">
        <span class="glyphicon glyphicon-trash pull-right" (click)="onSelect(l.id, l.items)"></span>            
        {{ l.listname }}
    </li>
</ul>  
<br>   
<div *ngIf="erro" class="alert alert-danger">
        {{erro}}
</div>