body {
    background-color: #fafafa;
    font-size: 16px;
}

ul.dropdown-menu {
    background-color: #2fa4e7;
}

ul.dropdown-menu a:hover {
    background-color: #7dbce0;
    border-radius: 2px;
}    

ul.dropdown-menu li {
    padding: 5px;
    cursor: pointer;
}

ul.dropdown-menu li a {
    color: #fff;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
}  

.glyphicon-trash, .pointer {
    cursor: pointer;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #fafafa;
}

.btn {
    font-size: 15px;
}

.form-control {
    font-size: 15px;
}